

.container {
    background-color: rgb(144, 35, 245);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 450px;
    border-radius: 25px;
    margin-bottom: 10px;
}


div input {
    margin: 10px;
}

.fields {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 12px;
}

.fields input {
    background-color: rgb(144, 35, 245);
    text-decoration: none;
    text-align: center;
    margin: 0;
    border: 0;
    border-bottom: solid 3px rgb(78, 1, 150);    
}
.fields span:hover {    
        font-size: 20px;
        font-weight: bolder;
    
}
.fields input:focus {
    font-size: 20px;
    label: 20px;
}

.sub input {
    border: solid 1px rgb(144, 35, 245);
    border-radius: 25px;
    background-color: rgb(101, 13, 184);
    padding: 3px;
    width: 159px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    display: none;
}
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}


