<div class="container">
    <div class="title">Cadastro de Brincos</div>

    <form #earringForm (submit)="save(earringForm)">
        <div class="all-fields">
            <div class="fields">
                <span for="date-earring">Data</span>
                <input type="date" name="date-earring" id="date-earring" required #dateearring
                    [(ngModel)]="earring.date">

            </div>
            <div class="fields">
                <span for="code-earring">Código</span>
                <input type="number" name="code-earring" id="code-earring" #codeearring [(ngModel)]="earring.id">
            </div>
            <div class="fields">
                <span for="material-earring">Material</span>
                <input type="text" name="material-earring" minlength="8" id="material-earring"
                    #materialearring="ngModel" [(ngModel)]="earring.material">oi
                
            </div>
            <div class="fields">
                <span for="warranty-earring">Garantia</span>
                <input type="text" name="warranty-earring" id="warranty-earring" #warrantyearring
                    [(ngModel)]="earring.warranty">
            </div>
            <div class="fields">
                <span for="price-earring">Preço</span>
                <input type="number" name="price-earring" id="price-earring" #priceearring [(ngModel)]="earring.price">
            </div>
            <div class="sub">
            <input  type="submit" value="Salvar">
            </div>    
        </div>
    </form>

</div>